@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
/*font-family: 'Montserrat', sans-serif;*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*Начальная страница*/

.showcase {
	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	z-index: 2;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.4;
}


/*Если нужно наложение какого-либо цвета на видео*/
/*.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	mix-blend-mode: overlay;
	background: red;
	opacity: 0.1;
}*/

.sp-container {
	position: relative;
	z-index: 10;
	width: 95vw;
	height: 95vh;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	color: white;
	text-align: center;
	padding: 0 50px;
}

.button-begin {
	background-color: transparent;
	font-size: 18px;
	padding: 10px 20px;
	border: 1px solid #fff;
	cursor: pointer;
	transition: 0.2s ease all;
	color: #fff;
	margin-top: 50px;
}

.button-begin:hover {
	background-color: #fff;
	color: #000;
	transition: 0.2s ease all;
}

.span-begin {
	font-size: 12px;
	position: absolute;
	bottom: 40px;
	right: 0;
	left: 0;
	font-weight: 500;
}

/*Main Page*/

.main-page {
	background-image: url(bg5.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*mix-blend-mode: overlay;*/
	background: black;
	opacity: 0.96;
}

.main-content {
	position: absolute;
	z-index: 20;
	color: #fff;
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	width: 100%;
	justify-content: center;

}

.group {
	/*display: flex;*/
	text-align: center;
	width: 40%;
	/*border: 1px solid red;*/
}

.group label{
	display: block;
	margin-bottom: 20px;
}

.group input {
	display: block;
	margin: 0 auto;
	background-color: transparent;
	font-size: 18px;
	border: 1px solid #fff;
	padding: 10px;
	color: #fff;
	width: 300px;
}

.group button {
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	font-size: 20px;
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
}

.group select {
	margin: 0 auto;
	display: block;
	font-size: 18px;
	color: white;
	background-color: transparent;
	padding: 10px;
	cursor: pointer;
	width: 300px;
}

.group select option {
	background-color: #000;
	cursor: pointer;
}

.actualRecomendationGroup {
	width: 40%;
	/*border: 1px solid red;*/
	margin-left: 100px;
}

.actualCarCard, .resultCarCard {
	width: 300px;
	text-align: center;
	background-color: #f4f4f4;
	padding: 20px;
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px 3px rgba(100,100,100,.4);
	overflow: hidden;
	margin: 0 auto;
	margin-top: 50px;
	color: black;
}

.resulCarCard {
	width: 400px;
}

.actualCarCard h5, .resultCarCard h5 {
	font-size: 18px;
}

.actualCarCard img, .resultCarCard img {
	width: 250px;
	height: 180px;
	margin-top: 15px;
}

.resulCarCard img {
	width: 350px;
	height: 270px;
}

.actualCarCard p, .resultCarCard p {
	margin-top: 20px;
	font-size: 14px;
}

.actualCarCard a, .resultCarCard a{
	background-color: transparent;
	font-size: 14px;
	padding: 10px 20px;
	border: 1px solid #000;
	cursor: pointer;
	transition: 0.2s ease all;
	color: #000;
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
}

.actualCarCard a:hover, .resultCarCard a:hover {
	background-color: #000;
	border: 1px solid #000;
	transition: 0.2s ease all;
	color: #fff;
}




.d-none {
	display: none;
}